/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;font-family:'Roboto';line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
  background: url('../img/bg.png');
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

h2 {
  font-size: 48px;
  text-align: center;
}

.select-my__container {
  max-width: 300px;
  padding: 30px 0;
  margin: 0 auto;
}

.select__container{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.select__container::before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 0 4px 4px 0;
  background: #A9D6DF;
  pointer-events: none;
}

.select__container::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: url('../img/arrow.svg') center no-repeat;
  transition: transform 0.4s ease 0s;
  cursor: pointer;
}

.select__container.active::before {
  border-radius: 0 4px 0 0;
}

.select__container.active::after {
  transform: rotate(180deg);
}


.select__container.active .select__field {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.select__field{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  min-height: 40px;
  width: 100%;
  font-size: 18px;
  padding: 8px 45px 8px 15px;
  border-radius: 4px;
  text-align: left;
  color: #5e5e5e;
  background: #fff;
  cursor: pointer;
}

.select__field[data-value = '0'] {
  color: #9A9CA5;
}

.select-field__text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.select__clear {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  flex: 0 0 auto;
}
.select__clear::before,
.select__clear::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #A9D6DF;
  transition: background-color 0.4s ease 0s;
}
.select__clear::before{
  top: 9px;
  transform: rotate(45deg);
}
.select__clear::after{
  bottom: 9px;
  transform: rotate(-45deg);
}
.select__clear:hover::after,
.select__clear:hover::before {
  background: #78a5ae;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.select__search {
  height: 40px;
  padding: 5px 10px;
}

.select__input {
  display: block;
  height: 100%;
  width: 100%;
  color: #5e5e5e;
  border: 1px solid #A9D6DF;
  padding: 8px 30px 8px 8px;
  font-size: 18px;
}

.select__search::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 5px;
  pointer-events: none;
  background: url('../img/search.svg') center / 20px 20px no-repeat;
}

.select__input::placeholder {
  color: #9A9CA5;
 }

.select__values {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
  z-index: 20;
}
.select__values.hidden{
  opacity: 0;
  visibility: hidden;
}

.select__list {
  position: relative;
  height: auto;
  max-height: 120px;
  overflow: hidden;
  overflow-y: auto;
}

.select__values li.hidden{
  display: none;
}

.select__option{
  text-align: left;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  background: transparent;
  font-size: 18px;
  color: #5e5e5e;
}

.select__option span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.select__option.active{
  background: #78a5ae;
  color: #fff;
}

.select__option.highlight{
  background: #A9D6DF !important;
  color: #fff !important;
}

.select__option.disabled{
  color: #9A9CA5;
  pointer-events: none;
}

.select__option.no-find {
  color: #5e5e5e !important;
}

.select__option--placeholder {
  color: #9A9CA5;
  cursor: default;
}
/* multiply */
.select__container.select-multiply .select__option{
  padding-right: 30px;
  position: relative;
}
.select__container.select-multiply .select__option::after{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/check.svg') center / 20px 20px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.select__container.select-multiply .select__option.active::after{
  opacity: 1;
  visibility: visible;
}

.select-multiply__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.select-multiply__item {
  font-size: 18px;
  color: #5e5e5e;
  border: 1px solid #A9D6DF;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  transition: border-color 0.4s ease 0s;
}

.select-multiply__text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
.select-multiply__cancel {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  flex: 0 0 auto;
}

.select-multiply__cancel::before,
.select-multiply__cancel::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #A9D6DF;
  transition: background-color 0.4s ease 0s;
}

.select-multiply__cancel::before {
  top: 9px;
  transform: rotate(45deg);
}
.select-multiply__cancel::after {
  bottom: 9px;
  transform: rotate(-45deg);
}
.select-multiply__item:hover {
  border-color: #78a5ae;
}
.select-multiply__item:hover .select-multiply__cancel::after,
.select-multiply__item:hover .select-multiply__cancel::before {
  background-color: #78a5ae;
}
/* ============== */
.btn__submit {
  display: block;
  margin: 0 auto;
  min-height: 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: #A9D6DF;
  width: 100%;
  max-width: 100px;
  transition: background-color 0.4s ease 0s;
}

.btn__submit:hover {
  background-color: #78a5ae;
}